@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
  background-color: #6ebbb7;
  color: #f2efe6;
}


/* table action */
.tableAction:nth-last-child(1) {
  display: flex;
  justify-content: end;
  align-items: center;
}
